.row
  .span1
  .span6
    #login
      = render(:partial => 'login')
    %br

    #logout
      = render(:partial => 'logout')
    %br

    #channel_form
      = render(:partial => 'channel_form')

    #channels
      = render(:partial => 'channels')
  .span5
    #chat_box
      = render(:partial => 'chat_box')